@use '../common/mixins' as *;

html {
  color: var(--font-color-main); // シートから当てようと思ったけどいったんしない
}

body {
  background: var(--col-white); // シートから当てようと思ったけどいったんしない
  font-weight: var(--base-font-weight, 400);
}

a {
  text-decoration: none;
  color: var(--font-color-link);
}

strong {
  font-weight: var(--bold-font-weight, 700);
  color: var(--pcol-base-color-2, var(--col-blue));
}

.container {
  width: 100%;
}

br {
  &.sp {
    display: inline;
    @include pc {
      display: none;
    }
  } 
  &.pc {
    display: none;
    @include pc {
      display: inline;
    }
  }
}