@use '../common/mixins' as *;

html {
  color: var(--font-color-main); // シートから当てようと思ったけどいったんしない
}

body {
  background: var(--col-white); // シートから当てようと思ったけどいったんしない
  font-weight: var(--base-font-weight, 400);
}

a {
  text-decoration: none;
  color: var(--font-color-link);
}

.container {
  width: 100%;
}