@use '../common/mixins' as *;

#company {
  $light-color: var(--pcol-company-text-color, var(--col-white));
  $base-color: var(--pcol-company-bg-color, var(--col-blue));
  $dark-color: var(--pcol-company-heading-color, var(--pcol-base-color-3));

  width: 100%;
  background: $base-color;
  color: $light-color;

  .container {
    max-width: 1000px;
    margin-inline: auto;
    padding: 5.5vw 5.5vw 12vw;
    @include pc {
      padding: 22px 22px 48px;
    }
    .section-title {
      display: block;
      color: $dark-color;
      white-space: nowrap;
    }
    h2 {
      text-align: center;
      padding-bottom: 3.2vw;
      position: relative;
      margin-top: -0.5em;
      &::after {
        content: '';
        display: block;
        width: 8vw;
        height: 1vw;
        background-color: $light-color;
        border-radius: 9999px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        @include pc {
          width: 32px;
          height: 4px;
        }
      }
      span {
      }
    }
    .section-lead {
    }
    .company-wrap {
      margin-top: 8vw;
      @include pc {
        margin-top: 32px;
      }
      .infos {
        display: grid;
        row-gap: 1rem;
        @include pc {
          row-gap: 8px;
        }

        .info-item {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 3vw 4vw;
          min-height: 3em;
          background: $dark-color;
          border-radius: 4vw;
          @include pc {
            padding: 12px 16px;
            border-radius: 16px;
          }
          .title {
            flex: 0 0 min(30vw, 300px);
            display: block;
          }
          .separator {
            width: 2px;
            height: 100%;
            display: block;
            background: $base-color;
          }
          .value {
            flex: 1 1 auto;
            display: block;
            padding-left: 4vw;
            @include pc {
              padding-left: 16px;
            }
          }
        }
      }
    }
  }
  .googlemap-wrap {
    margin-top: 6vw;
    width: 100%;
    border-radius: 2vw;
    @include pc {
      margin-top: 24px;
      border-radius: 8px;
    }
    overflow: hidden;
    iframe {
      width: 100%;
      max-width: 100%;
      display: block;
    }
  }
}
