@use '../common/mixins' as *;

#company {
  $light-color: var(--pcol-company-text-color, var(--col-white));
  $base-color: var(--pcol-company-bg-color, var(--col-blue));
  $dark-color: var(--pcol-company-heading-color, var(--pcol-base-color-3));

  width: 100%;
  background: $base-color;
  color: $light-color;

  .container {
    max-width: 1000px;
    margin-inline: auto;
    padding: 5.5vw 5.5vw 12vw;
    .section-title {
      display: block;
      color: $dark-color;
      white-space: nowrap;
      $sp-fs: var(--company-bg-title-sp-fs);
      $sp-fw: var(--company-bg-title-sp-fw);
      $sp-lh: var(--company-bg-title-sp-lh);
      $sp-ls: var(--company-bg-title-sp-ls);
      font-size: $sp-fs;
      font-weight: $sp-fw;
      line-height: $sp-lh;
      letter-spacing: $sp-ls;
      @include pc {
        font-size: var(--company-bg-title-pc-fs, $sp-fs);
        font-weight: var(--company-bg-title-pc-fw, $sp-fw);
        line-height: var(--company-bg-title-pc-lh, $sp-lh);
        letter-spacing: var(--company-bg-title-pc-ls, $sp-ls);
      }
    }
    h2 {
      text-align: center;
      padding-bottom: 3.2vw;
      position: relative;
      margin-top: -0.5em;
      $sp-fs: var(--company-h2-sp-fs);
      $sp-fw: var(--company-h2-sp-fw);
      $sp-lh: var(--company-h2-sp-lh);
      $sp-ls: var(--company-h2-sp-ls);
      font-size: $sp-fs;
      font-weight: $sp-fw;
      line-height: $sp-lh;
      letter-spacing: $sp-ls;
      @include pc {
        font-size: var(--company-h2-pc-fs, $sp-fs);
        font-weight: var(--company-h2-pc-fw, $sp-fw);
        line-height: var(--company-h2-pc-lh, $sp-lh);
        letter-spacing: var(--company-h2-pc-ls, $sp-ls);
      }
      &::after {
        content: '';
        display: block;
        width: 8vw;
        height: 1vw;
        background-color: $light-color;
        border-radius: 9999px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
      }
      span {
        $sp-fs: var(--company-h2-sub-sp-fs);
        $sp-fw: var(--company-h2-sub-sp-fw);
        $sp-lh: var(--company-h2-sub-sp-lh);
        $sp-ls: var(--company-h2-sub-sp-ls);
        font-size: $sp-fs;
        font-weight: $sp-fw;
        line-height: $sp-lh;
        letter-spacing: $sp-ls;
        @include pc {
          font-size: var(--company-h2-sub-pc-fs, $sp-fs);
          font-weight: var(--company-h2-sub-pc-fw, $sp-fw);
          line-height: var(--company-h2-sub-pc-lh, $sp-lh);
          letter-spacing: var(--company-h2-sub-pc-ls, $sp-ls);
        }
      }
    }
    .section-lead {
      $sp-fs: var(--company-section-lead-sp-fs);
      $sp-fw: var(--company-section-lead-sp-fw);
      $sp-lh: var(--company-section-lead-sp-lh);
      $sp-ls: var(--company-section-lead-sp-ls);
      font-size: $sp-fs;
      font-weight: $sp-fw;
      line-height: $sp-lh;
      letter-spacing: $sp-ls;
      @include pc {
        font-size: var(--company-section-lead-pc-fs, $sp-fs);
        font-weight: var(--company-section-lead-pc-fw, $sp-fw);
        line-height: var(--company-section-lead-pc-lh, $sp-lh);
        letter-spacing: var(--company-section-lead-pc-ls, $sp-ls);
      }
    }
    .company-wrap {
      margin-top: 8vw;
      .infos {
        display: grid;
        row-gap: 1rem;

        .info-item {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 3vw 4vw;
          min-height: 3em;
          background: $dark-color;
          border-radius: 4vw;
          .title {
            flex: 0 0 30vw;
            display: block;
            $sp-fs: var(--company-item-label-sp-fs);
            $sp-fw: var(--company-item-label-sp-fw);
            $sp-lh: var(--company-item-label-sp-lh);
            $sp-ls: var(--company-item-label-sp-ls);
            font-size: $sp-fs;
            font-weight: $sp-fw;
            line-height: $sp-lh;
            letter-spacing: $sp-ls;
            @include pc {
              font-size: var(--company-item-label-pc-fs, $sp-fs);
              font-weight: var(--company-item-label-pc-fw, $sp-fw);
              line-height: var(--company-item-label-pc-lh, $sp-lh);
              letter-spacing: var(--company-item-label-pc-ls, $sp-ls);
            }
          }
          .separator {
            width: 2px;
            height: 100%;
            display: block;
            background: $base-color;
          }
          .value {
            flex: 1 1 auto;
            display: block;
            padding-left: 4vw;
            $sp-fs: var(--company-item-value-sp-fs);
            $sp-fw: var(--company-item-value-sp-fw);
            $sp-lh: var(--company-item-value-sp-lh);
            $sp-ls: var(--company-item-value-sp-ls);
            font-size: $sp-fs;
            font-weight: $sp-fw;
            line-height: $sp-lh;
            letter-spacing: $sp-ls;
            @include pc {
              font-size: var(--company-item-value-pc-fs, $sp-fs);
              font-weight: var(--company-item-value-pc-fw, $sp-fw);
              line-height: var(--company-item-value-pc-lh, $sp-lh);
              letter-spacing: var(--company-item-value-pc-ls, $sp-ls);
            }
          }
        }
      }
    }
  }
  .googlemap-wrap {
    margin-top: 6vw;
    width: 100%;
    border-radius: 2vw;
    overflow: hidden;
    iframe {
      max-width: 100%;
      display: block;
    }
  }
}
