@use '../common/mixins' as *;
@use '../common/variables' as *;

#contact {
  background: var(--pcol-contact-background, var(--pcol-base-white, --col-white));
  .container {
    width: 100%;
    padding: 4vw 4vw;

    .card-body {
      $card_bg: var(--pcol-contact-card-bg-color, var(--pcol-base-color-2, var(--col-blue)));
      $card_text: var(--pcol-contact-card-text-color, var(--pcol-base-white, var(--col-white)));

      padding: 4vw;
      backdrop-filter: blur(12px);
      background: $card_bg;
      color: $card_text;
      border-radius: 4vw;

      @include tab {
        max-width: 1200px;
        margin: auto;
        padding: 32px;
        border-radius: var(--base-radius-m, 16px);
      }

      h2 {
        text-align: center;
        position: relative;
      }
      .message {
        margin-top: 2vw;
        text-align: center;
      }
      .description {
        margin-top: 2vw;
        text-align: center;
      }

      .tel-box {
        text-align: center;
        .tel-number {
        }
        .tel-message {
        }
      }

      .items-list {
        margin-top: 4vw;
        display: grid;
        gap: 2vw;
        @include tab {
          gap: 16px;
          grid-template-columns: 1fr 1fr;
        }
        .item {
          pointer-events: auto;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: flex-end;

          a {
            background: var(
              --pcol-contact-card-item-bg-color,
              var(--pcol-base-color-2, var(--col-blue))
            );
            box-shadow: 0px 0px 20px 0px #00000026;
            border-radius: 9999px;
            flex-grow: 1;
            display: flex;
            min-height: 5rem;
            position: relative;
            color: var(
              --pcol-contact-card-item-text-color,
              var(--pcol-base-white, var(--col-white))
            );
            justify-content: center;
            align-items: center;

            @include tab {
              height: 64px;
              min-height: unset;
            }
            span {
              display: inline-block;
              line-height: 1 !important;
            }

            &::before {
              display: inline-block;
              content: '\f1ad';
              font-family: $fontawesome;
              font-weight: 400;
              position: absolute;
              left: 16px;
              top: 0;
              bottom: 0;
              margin: auto;
              font-size: 1.6rem;
              height: 1.6rem;
              line-height: 1;
              @include tab {
                font-size: 24px;
                height: 24px;
                left: 24px;
              }
            }
            .sub {
              display: block;
              line-height: 1;
              margin-top: 4px;
              font-size: 0.5em;
            }
            &::after {
              font-family: $fontawesome;
              font-weight: 900;
              content: '\f054';
              position: absolute;
              display: inline-block;
              height: 1.6rem;
              top: 0;
              bottom: 0;
              margin: auto;
              right: 16px;
              font-size: 1.6rem;
              line-height: 1;
              @include tab {
                font-size: 24px;
                height: 24px;
                right: 24px;
              }
            }
          }

          &.type-mail {
            a::before {
              font-family: $fontawesome;
              content: '\f0e0';
              font-weight: 400;
            }
          }

          &.type-line {
            a::before {
              font-family: $fontawesome-brands;
              content: '\f3c0';
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
