@use '../common/mixins' as *;
@use '../common/variables' as *;

#contact {
  background: var(--pcol-contact-background, var(--pcol-base-white, --col-white));
  .container {
    width: 100%;
    padding: 4vw 4vw;

    .card-body {
      $card_bg: var(--pcol-contact-card-bg-color, var(--pcol-base-color-2, var(--col-blue)));
      $card_text: var(--pcol-contact-card-text-color, var(--pcol-base-white, var(--col-white)));

      padding: 4vw;
      background: $card_bg;
      color: $card_text;
      border-radius: 4vw;
      h2 {
        text-align: center;
        position: relative;
      }
      .message {
        margin-top: 2vw;
        text-align: center;
      }
      .description {
        margin-top: 2vw;
        text-align: center;
      }

      .tel-box {
        text-align: center;
        .tel-number {
        }
        .tel-message {
        }
      }

      .items-list {
        margin-top: 4vw;
        display: grid;
        gap: 2vw;
        @include pc {
          gap: 16px;
          grid-template-columns: 1fr 1fr;
        }
        .item {
          pointer-events: auto;
          cursor: pointer;

          a {
            display: flex;
            min-height: 5rem;
            border-radius: 9999px;
            position: relative;
            background: var(
              --pcol-contact-card-item-bg-color,
              var(--pcol-base-color-2, var(--col-blue))
            );
            color: var(
              --pcol-contact-card-item-text-color,
              var(--pcol-base-white, var(--col-white))
            );
            justify-content: center;
            align-items: center;
            box-shadow: 0px 0px 20px 0px #00000026;

            @include pc {
              height: 64px;
              min-height: unset;
              padding: 16px;
            }

            &::before {
              display: inline-block;
              content: '\f1ad';
              font-family: $fontawesome;
              font-weight: 400;
              position: absolute;
              left: 16px;
              top: 0;
              bottom: 0;
              margin: auto;
              font-size: 1.6rem;
              height: 1.6rem;
              line-height: 1;
              @include pc {
                font-size: 24px;
                height: 24px;
                left: 24px;
              }
            }
            .sub {
              display: block;
              line-height: 1;
            }
            &::after {
              font-family: $fontawesome;
              font-weight: 900;
              content: '\f054';
              position: absolute;
              display: inline-block;
              height: 1.6rem;
              top: 0;
              bottom: 0;
              margin: auto;
              right: 16px;
              font-size: 1.6rem;
              line-height: 1;
              @include pc {
                font-size: 24px;
                height: 24px;
                right: 24px;
              }
            }
          }

          &.type-form {
            .item-body {
              .sub {
              }
              .main {
              }
            }
          }
          &.type-mail {
            a::before {
              font-family: $fontawesome;
              content: '\f0e0';
              font-weight: 400;
            }
          }

          &.type-line {
            a::before {
              font-family: $fontawesome-brands;
              content: '\f3c0';
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
