@use '../common/mixins' as *;

#faq {
  width: 100%;
  background: var(--pcol-faq-bg-color, #f7f8fa); // 淡いグレー
  color: var(--pcol-faq-text-color, var(--pcol-base-black, var(--col-black)));

  .container {
    max-width: 1000px;
    margin-inline: auto;
    padding: 56px 24px;
  }
  .section-title {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  .description {
    text-align: center;
  }

  .faq-wrap {
    margin-top: 24px;
    display: grid;
    gap: 20px;
  }
  .faq-item {
    padding: 16px;
    background: var(--pcol-faq-item-bg-color, var(--pcol-base-white, var(--col-white)));
    border-radius: var(--base-radius-m, 0);
    .q {
      color: var(--pcol-faq-q-text-color);
      &::before {
        content: 'Q.';
        display: inline-block;
        font-weight: 700;
        margin-right: 8px;
        color: var(--pcol-faq-q-label-color);
      }
    }
    .a-block {
      .a {
        color: var(--pcol-faq-a-text-color);
      }
    }
  }
}
