@use '../common/mixins' as *;

footer {
  width: 100%;
  background: var(--pcol-base-white, var(--col-white));
  padding-top: 2vw;

  .container {
    width: 100%;
    max-width: 1000px;
    color: var(--pcol-base-white, var(--col-white));
    background: var(--pcol-base-color-2, var(--col-blue));
    border-radius: 4vw 4vw 0 0;
  }

  .upper-block {
    display: flex;
    flex-direction: column;
    color: var(--pcol-footer-text-color, var(--pcol-base-white, var(--col-white)));
    background: var(--pcol-footer-bg-color, var(--pcol-base-color-2, var(--col-blue)));
    padding: 8vw 4vw 8vw;

    img {
      width: 30vw;
      height: auto;
    }

    h4 {
      margin: 0;
      font-size: 1.8rem;
      line-height: 1.4;
      font-weight: 700;
    }

    p {
      margin: 4px 0 0;
      font-size: 14px;
      line-height: 1.7;
    }
  }

  .copyright {
    margin: 0;
    padding: 4vw 2vw 8vw;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    font-size: 1.2rem;
    text-align: center;
  }
}