@use '../common/mixins' as *;

#message {
  width: 100%;
  background: var(--pcol-message-bg-color, var(--col-blue));
  color: var(--pcol-message-text-color, var(--col-white));
  strong {
    color: var(--pcol-message-text-color, var(--col-white));
  }

  .container {
    max-width: 1000px;
    margin-inline: auto;
    text-align: center;
    .upper-block {
      position: relative;
      padding-top: 80px;

      .bg-title {
        display: block;
        color: var(--pcol-message-heading-color, var(--pcol-base-color-3));
        white-space: nowrap;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      h2 {
        font-weight: 400;
        line-height: 2;
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span {
          display: block;
          margin-bottom: 0.5em;
        }
      }
      .section-lead {
        margin-top: 6vw;
      }
      .core-messages {
        color: var(--pcol-message-core-color, var(--pcol-base-color-3));
        padding: 48px 16px 0;

        h3 {
        }
        .core-text {
          margin-top: 48px;
        }
      }
    }
  }
  .message-swiper {
    margin-top: 24px;
    position: relative;
    padding-bottom: 24px;
  }
}
