@use '../common/mixins' as *;

#service {
  width: 100%;
  background: var(--pcol-base-white, var(--col-white));
  .container {
    max-width: 1000px;
    margin-inline: auto;
    padding: 56px 24px;
  }

  h2 {
    text-align: center;
    padding-bottom: 3.2vw;
    position: relative;
    @include pc {
      padding-bottom: 16px;
    }
    &::after {
      content: '';
      display: block;
      width: 8vw;
      height: 1vw;
      background-color: var(--pcol-base-color-2, var(--col-blue));
      border-radius: 9999px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;
      @include pc {
        width: 60px;
        height: 4px;
      }
    }

    .subtitle {
      display: none;
    }
  }

  .intro {
    text-align: center;
    padding: 4vw;
    margin-bottom: 4.8vw;
    @include pc {
      padding: 32px;
      margin-bottom: 24px;
    }
  }

  .services-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20vw;
    @include pc {
      gap: 24px;
    }
  }

  .service-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include pc {
      gap: 32px;
      flex-direction: row;
    }

    figure {
      width: 100%;
      margin: 0;
      overflow: hidden;
      @include pc {
        width: 40%;
      }
      img {
        width: 100%;
        border-radius: var(--base-radius-m, 16px);
      }
    }
    .service-body {
      @include pc {
        width: 60%;
      }

      .service-title {
        display: flex;
        flex-direction: column-reverse;
        & > span {
          display: block;
        }
        .ja {
        }
        .en {
          color: var(--pcol-base-color-2, var(--col-blue));
        }
      }
      .service-desc {
        margin-top: 2vw;
        @include pc {
          margin-top: 16px;
        }
      }
      .service-tags {
        @include pc {
          margin-top: 16px;
        }
        .tag {
        }
      }
      .service-more {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 4vw;
        @include pc {
          justify-content: flex-end;
          padding-top: 16px;
        }
      }
      .notice-area {
        .notice {
        }
      }
    }
  }
}
