@use '../common/mixins' as *;

#works {
  $def-transition: all 0.5s ease-out 0.2s;

  $base-bg-color: var(--pcol-works-base-bg-color, var(--pcol-base-white, --col-white));
  $base-text-color: var(--pcol-works-base-text-color, var(--pcol-base-black, --col-black));
  $base-tag-bg: var(--pcol-works-base-tag-bg, var(--pcol-base-white, --col-white));
  $base-tag-text: var(--pcol-works-base-tag-text, var(--pcol-base-black, --col-black));
  $acc-bg-color: var(--pcol-works-acc-bg-color, var(--pcol-base-white, --col-white));
  $acc-text-color: var(--pcol-works-acc-text-color, var(--pcol-base-black, --col-black));
  $acc-tag-bg: var(--pcol-works-acc-tag-bg, var(--pcol-base-white, --col-white));
  $acc-tag-text: var(--pcol-works-acc-tag-text, var(--pcol-base-black, --col-black));

  width: 100%;
  background: $base-bg-color;
  color: $base-text-color;
  transition: $def-transition;

  .container {
    max-width: 1000px;
    padding: 56px 0;
  }

  h2 {
    text-align: center;
    padding-bottom: 3.2vw;
    position: relative;
    $sp-fs: var(--works-h2-sp-fs);
    $sp-fw: var(--works-h2-sp-fw);
    $sp-lh: var(--works-h2-sp-lh);
    $sp-ls: var(--works-h2-sp-ls);
    font-size: $sp-fs;
    font-weight: $sp-fw;
    line-height: $sp-lh;
    letter-spacing: $sp-ls;
    @include pc {
      font-size: var(--works-h2-pc-fs, $sp-fs);
      font-weight: var(--works-h2-pc-fw, $sp-fw);
      line-height: var(--works-h2-pc-lh, $sp-lh);
      letter-spacing: var(--works-h2-pc-ls, $sp-ls);
    }

    span {
      $sp-fs: var(--works-h2-sub-sp-fs);
      $sp-fw: var(--works-h2-sub-sp-fw);
      $sp-lh: var(--works-h2-sub-sp-lh);
      $sp-ls: var(--works-h2-sub-sp-ls);
      font-size: $sp-fs;
      font-weight: $sp-fw;
      line-height: $sp-lh;
      letter-spacing: $sp-ls;
      @include pc {
        font-size: var(--works-h2-sub-pc-fs, $sp-fs);
        font-weight: var(--works-h2-sub-pc-fw, $sp-fw);
        line-height: var(--works-h2-sub-pc-lh, $sp-lh);
        letter-spacing: var(--works-h2-sub-pc-ls, $sp-ls);
      }
    }
  }

  .intro {
    display: block;
    text-align: center;
    margin-bottom: 4vw;
    padding: 0 4vw;

    $sp-fs: var(--works-section-lead-sp-fs);
    $sp-fw: var(--works-section-lead-sp-fw);
    $sp-lh: var(--works-section-lead-sp-lh);
    $sp-ls: var(--works-section-lead-sp-ls);
    font-size: $sp-fs;
    font-weight: $sp-fw;
    line-height: $sp-lh;
    letter-spacing: $sp-ls;
    @include pc {
      font-size: var(--works-section-lead-pc-fs, $sp-fs);
      font-weight: var(--works-section-lead-pc-fw, $sp-fw);
      line-height: var(--works-section-lead-pc-lh, $sp-lh);
      letter-spacing: var(--works-section-lead-pc-ls, $sp-ls);
    }
  }

  .works-swiper {
    margin-top: 24px;
    position: relative;
    padding-bottom: 40px;

    .swiper {
      .swiper-button-prev,
      .swiper-button-next {
        height: 100%;
        width: 40px;
        top: 0;
        opacity: 0;
        &::after {
          display: none;
        }
      }
      .swiper-button-prev {
        left: 0;
      }
      .swiper-button-next {
        right: 0;
      }
    }

    .swiper-slide {
      height: auto;
      .work-card {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      .work-thumb {
        margin: 0 0 8px;
        width: 100%;
        border-radius: 12vw;
        overflow: hidden;
        img {
          width: 100%;
        }
      }

      .work-title {
        color: var(--pcol-base-color-2, #326ff9);
        margin-top: 8px;
        $sp-fs: var(--works-slider-title-sp-fs);
        $sp-fw: var(--works-slider-title-sp-fw);
        $sp-lh: var(--works-slider-title-sp-lh);
        $sp-ls: var(--works-slider-title-sp-ls);
        font-size: $sp-fs;
        font-weight: $sp-fw;
        line-height: $sp-lh;
        letter-spacing: $sp-ls;
        @include pc {
          font-size: var(--works-slider-title-pc-fs, $sp-fs);
          font-weight: var(--works-slider-title-pc-fw, $sp-fw);
          line-height: var(--works-slider-title-pc-lh, $sp-lh);
          letter-spacing: var(--works-slider-title-pc-ls, $sp-ls);
        }
        span {
          $sp-fs: var(--works-slider-title-sub-sp-fs);
          $sp-fw: var(--works-slider-title-sub-sp-fw);
          $sp-lh: var(--works-slider-title-sub-sp-lh);
          $sp-ls: var(--works-slider-title-sub-sp-ls);
          font-size: $sp-fs;
          font-weight: $sp-fw;
          line-height: $sp-lh;
          letter-spacing: $sp-ls;
          @include pc {
            font-size: var(--works-slider-title-sub-pc-fs, $sp-fs);
            font-weight: var(--works-slider-title-sub-pc-fw, $sp-fw);
            line-height: var(--works-slider-title-sub-pc-lh, $sp-lh);
            letter-spacing: var(--works-slider-title-sub-pc-ls, $sp-ls);
          }
        }
      }

      .work-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 12px;

        .tag {
          color: $base-tag-text;
          background: $base-tag-bg;
          $sp-fs: var(--works-slider-tag-sp-fs);
          $sp-fw: var(--works-slider-tag-sp-fw);
          $sp-lh: var(--works-slider-tag-sp-lh);
          $sp-ls: var(--works-slider-tag-sp-ls);
          font-size: $sp-fs;
          font-weight: $sp-fw;
          line-height: $sp-lh;
          letter-spacing: $sp-ls;
          @include pc {
            font-size: var(--works-slider-tag-pc-fs, $sp-fs);
            font-weight: var(--works-slider-tag-pc-fw, $sp-fw);
            line-height: var(--works-slider-tag-pc-lh, $sp-lh);
            letter-spacing: var(--works-slider-tag-pc-ls, $sp-ls);
          }
        }
      }

      .work-desc {
        margin-top: 12px;
        $sp-fs: var(--works-slider-description-sp-fs);
        $sp-fw: var(--works-slider-description-sp-fw);
        $sp-lh: var(--works-slider-description-sp-lh);
        $sp-ls: var(--works-slider-description-sp-ls);
        font-size: $sp-fs;
        font-weight: $sp-fw;
        line-height: $sp-lh;
        letter-spacing: $sp-ls;
        @include pc {
          font-size: var(--works-slider-description-pc-fs, $sp-fs);
          font-weight: var(--works-slider-description-pc-fw, $sp-fw);
          line-height: var(--works-slider-description-pc-lh, $sp-lh);
          letter-spacing: var(--works-slider-description-pc-ls, $sp-ls);
        }
      }

      .work-more {
        margin-top: 14px;

        .btn-more {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          gap: 6px;
          background: var(--pcol-base-color-2, #326ff9);
          color: #fff;
          border-radius: 9999px;
          padding: 10px 16px;
          $sp-fs: var(--works-slider-btn-sp-fs);
          $sp-fw: var(--works-slider-btn-sp-fw);
          $sp-lh: var(--works-slider-btn-sp-lh);
          $sp-ls: var(--works-slider-btn-sp-ls);
          font-size: $sp-fs;
          font-weight: $sp-fw;
          line-height: $sp-lh;
          letter-spacing: $sp-ls;
          @include pc {
            font-size: var(--works-slider-btn-pc-fs, $sp-fs);
            font-weight: var(--works-slider-btn-pc-fw, $sp-fw);
            line-height: var(--works-slider-btn-pc-lh, $sp-lh);
            letter-spacing: var(--works-slider-btn-pc-ls, $sp-ls);
          }
        }

        .btn-more:hover {
          filter: brightness(0.95);
        }
      }
    }
  }
  &.reverse {
    color: $acc-text-color;
    background: $acc-bg-color;
    .works-swiper {
      .swiper-slide {
        .work-tags {
          .tag {
            color: $acc-tag-text;
            background: $acc-tag-bg;
          }
        }
      }
    }
  }
}
