<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title><?= title ?></title>
    <meta name="description" content="<?= description ?>" />

    <!-- OGP 基本 -->
    <meta property="og:title" content="<?= title ?>" />
    <meta property="og:description" content="<?= description ?>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<?= url ?>" />
    <meta property="og:image" content="<?= image ?>" />

    <!-- Twitterカード用（必要なら） -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="<?= title ?>" />
    <meta name="twitter:description" content="<?= description ?>" />
    <meta name="twitter:image" content="<?= image ?>" />


    <!-- サイト用スクリプト/フォント -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3/dist/cdn.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/colors.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <?= header ?>
    <main>
      <?= contents ?>
    </main>
    <?= footer ?>
    <?= scripts ?>
  </body>
</html>
