<footer x-data="footerComponent" data-component-name="footer">
  <div class="container">
    <div class="upper-block">
      <img src="<?= logo_url ?>" alt="Footer Image" class="logo">
      <h4><?= company_name ?></h4>
      <p><?= address ?></p>
    </div>
    <div class="lower-block">
      <div class="main-list <?= footer_nav_class ?>">
        <ul class="footer-nav">
          <!-- <li><a @click.prevent="onItemClick" href="#mission">ミッション</a></li> -->
          <?= footer_nav ?>
        </ul>
      </div>
      <div class="sub-list <?= footer_sub_nav_class ?>">
        <ul class="footer-nav">
          <!-- <li><a @click.prevent="onItemClick" href="#mission">ミッション</a></li> -->
          <?= footer_sub_nav ?>
        </ul>
      </div>
    </div>
    <p class="copyright"><?= copyright ?></p>
  </div>
</footer>