<!-- SectionTitle: お問い合わせ -->
<section id="contact" data-component-name="contact" x-data="contactComponent">
  <div class="container">
    <div class="card-body">
      <?= title ?>
      <!-- <h2>お問い合わせ</h2> -->

      <?= message ?>
      <!-- <p class="message">まずはお気軽に<br>お問い合わせください</p> -->
      
      <?= description ?>
      <!-- <p class="description">テキストテキストテキスト<br>テキストテキストテキスト。</p> -->



      <div class="contact-wrap">
          <?= upper_tel_box ?>
          <!--
          <div class="tel-box">
            <p class="tel-number"><a href="tel:TEL値">
              <i class="fa-solid fa-phone"></i>
              <span>TEL値</span>
            </a></p>
            <p class="tel-message">sub_value値</p>  <- sub_value が空ならこの行ごと出さない
          </div>
          --> 



        <div class="items-list">
          <?= tel_box ?>
          <!--
          <div class="tel-box">
            <p class="tel-number"><a href="tel:TEL値">
              <i class="fa-solid fa-phone"></i>
              <span>TEL値</span>
            </a></p>
            <p class="tel-message">sub_value値</p>  <- sub_value が空ならこの行ごと出さない
          </div>
          --> 

          <?= items ?>
          <!--
          <div class="item type-tel">
            <a href="xxxxxxx">
              <span class="item-body"><span class="mess">電話でお問い合わせ</span><span class="sub">受付時間：平日10:00〜18:00</span></span>
            </a>  
          </div>  
          -->
        </div>
      </div>
    </div>
  </div>
</section>