<!-- SectionTitle: ヘッダー -->
<header x-data="headerComponent" data-component-name="header">
  <div class="header-wrap">
    <div class="logo" data-target-name="header_logo">
      <img src="<?= logo_url ?>" alt="Logo">
    </div>
    <ul class="header-nav" data-target-name="header_nav">
      <!-- <li><a @click.prevent="onItemClick" href="#message">メッセージ</a></li> -->
      <?= header_nav ?>
    </ul>
    <div class="button-wrap">
      <a href="<?= contact_url ?>" target="<?= contact_is_external ?>">お問い合わせ</a>
    </div>
  </div>
  <div class="header-drawer-menu" :class="{ open: isDrawerOpen }">
    <div class="button-wrap">
      <span class="hamburger" @click="toggleDrawer"><span></span></span>
    </div>
    <div class="modal-bg">
      <div class="drawer-wrap">
        <ul class="drawer-nav" data-target-name="header_nav">
          <!-- <li><a @click.prevent="onItemClick" href="#message">メッセージ</a></li> -->
          <?= header_nav ?>
        </ul>
        <ul class="drawer-contact" data-target-name="header_contact">
          <!-- <li><a @click.prevent="onItemClick" href="#message">メッセージ</a></li> -->
          <?= header_contact ?>
        </ul>
      </div>
    </div>
  </div>
</header>