<!-- SectionTitle: メッセージ (旧ミッション) -->
<section id="message" data-component-name="message" x-data="messageComponent">
  <div class="bg-title" data-marquee-data="<?= bg_title ?>"></div>
  <div class="container">
    <div class="upper-block">
      <?= h2_block ?>
      <?= section_lead_block ?>
      <?= core_messages ?>
    </div>
    <div class="lower-block">
      <div class="message-slider">
        <div class="slider-base" x-ref="container" x-show="items && items.length" data-slide-speed="40">
          <div class="slider-wrapper">
            <template x-for="(item, idx) in items" :key="'message-item-' + idx">
              <div class="slide-item">
                <figure class="message-slide">
                  <img :src="item.image" :alt="item.alt">
                  <template x-if="item.caption">
                    <figcaption x-text="item.caption"></figcaption>
                  </template>
                </figure>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>

    <?= youtube_block ?>
    <!--
    <div class="youtube-block">
      <div class="youtube-item" data-youtube-id="<?= youtube_id ?>"></div>
    </div>  
    -->
    </div>
  </div>
</section>