<!-- SectionTitle: メインビジュアル -->
<section id="mv">
  <div class="mv-base-contents">
    <h1><?= mv_catchphrase ?></h1>
    <?= mv_sub_catchphrase ?>
    <!-- <p class="sub-catchphrase"><?= sub_catchphrase ?></p> -->
  </div>
  <div class="mv-bg-image">
    <div class="img-wrap">
      <picture>
        <source srcset="<?= mv_bg_image_url_pc ?>" media="(min-width: 768px)" />
        <img src="<?= mv_bg_image_url_sp ?>" alt="<?= mv_bg_image_alt ?>" />
      </picture>
    </div>
  </div>
</section>