@use 'styles/base';
@use 'styles/header';
@use 'styles/mv';
@use 'styles/message_ts';
@use 'styles/message';
@use 'styles/services';
@use 'styles/works';
@use 'styles/company';
@use 'styles/contact';
@use 'styles/faq';
@use 'styles/footer';
