@use 'mixins' as *;

$radius-default: 8px;

select {
  appearance: none; /* ブラウザのデフォルトUIを無効化 */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--col-white);
  border: 1px solid var(--col-base-green);
  border-radius: $radius-default;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: var(--font-biz-udp-gothic);
  color: var(--col-base-green);
  width: 100%;
  height: 46px;
  max-width: 500px;
  text-align: left;
  background-image: url('../img/icon/ic_chevron_down.svg');
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 16px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  @include pc {
    border: 2px solid var(--col-base-green);
    height: 60px;
    background-size: 20px;
    max-width: 480px;
    font-size: 1.8rem;
  }
}

.radio-button {
  display: block;
  margin-bottom: 12px;
  span {
    display: block;
    text-align: center;
    padding: 14px;
    border: 1px solid var(--col-base-green);
    border-radius: $radius-default;
    font-weight: bold;
    font-family: var(--font-biz-udp-gothic);
    font-size: 1.4rem;
    color: var(--col-base-green);
    background: var(--col-white);
    transition: all 0.2s ease-out;
    cursor: pointer;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    &.selected {
      background: var(--col-base-green);
      color: var(--col-white);
    }
    @include pc {
      border: 2px solid var(--col-base-green);
      height: 60px;
      font-size: 1.8rem;
    }
  }
  input[type='radio'] {
    display: none;
  }
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
  display: inline-block;
  padding: 12px 16px;
  border: 1px solid var(--col-light-gray5);
  border-radius: $radius-default;
  font-size: 1.2em;
  color: var(--col-black);
  background-color: var(--col-white);
  transition: all 0.2s ease-out;
  &::placeholder {
    color: var(--col-gray2);
  }
  @include pc {
    border: 2px solid var(--col-base-green);
  }
}

textarea {
  width: 100%;
  height: 150px;
}

.error {
  input[type='text'],
  input[type='email'],
  input[type='tel'] {
    background: var(--col-pink);
    @include pc {
      background: var(--col-pink);
    }
  }
}

.cb-label {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 20px;
  font-family: var(--font-biz-udp-gothic);
  color: var(--col-black);
  display: flex;
  align-items: center;
  height: 20px;
  @include pc {
    font-size: 1.8rem;
    min-height: 36px;
  }

  input[type='checkbox'] {
    display: none;

    &:checked + span {
      &::before {
        border-color: var(--col-base-green);
        background: var(--col-base-green);
      }
      &::after {
        content: '';
        position: absolute;
        left: 4px;
        top: 6px;
        width: 10px;
        height: 4px;
        border-left: 3px solid var(--col-white);
        border-bottom: 3px solid var(--col-white);
        transform: rotate(-45deg);
        @include pc {
          top: 10px;
          left: 7px;
          width: 18px;
          height: 8px;
          border-left: 5px solid var(--col-white);
          border-bottom: 5px solid var(--col-white);
        }
      }
    }
  }
  span {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
    line-height: 20px;
    display: inline-block;
    @include pc {
      padding-left: 54px;
      line-height: 36px;
    }
    &::before {
      content: '';
      position: absolute;
      box-sizing: border-box;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      border: 1px solid var(--col-gray2);
      border-radius: 4px;
      background: var(--col-white);
      @include pc {
        width: 36px;
        height: 36px;
        border: 2px solid var(--col-gray2);
      }
    }
  }
}

.submit-button {
  display: inline-block;
  width: 100%;
  padding-bottom: 6px;
  @include pc {
    width: auto;
  }
  button {
    width: 100%;
    outline: inherit;
    border: none;
    position: relative;
    display: block;
    padding: 0;
    background: none;
    max-width: 600px;
    cursor: pointer;
    span {
      width: 100%;
      height: 64px;
      border-radius: 8px;
      display: block;
      background: var(--col-base-green);
      position: relative;
      font-size: 1.8rem;
      font-weight: 700;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      letter-spacing: 0.15em;
      transition: all 0.2s ease-out;
      @include pc {
        font-size: 2.4rem;
        height: 90px;
        width: 600px;
      }
    }
    &::before {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 12px;
      margin: auto;
      background: url(../img/icon/ic_chevron_right.svg) no-repeat center center / 100% auto;
      z-index: 12;
      @include pc {
        width: 24px;
        height: 24px;
      }
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      border-radius: 8px;
      top: 6px;
      left: 0;
      width: 100%;
      height: 64px;
      background: var(--col-light-green);
      z-index: 0;
      transition: all 0.2s ease-out;
      @include pc {
        height: 90px;
        width: 600px;
      }
    }
    &.disabled {
      pointer-events: none;
      cursor: not-allowed;
      span {
        background: var(--col-gray3);
      }
      &::after {
        background: var(--col-gray4);
      }
    }
  }
}
